html,
body {
  margin: 0;
  padding: 0;
}
body {
  min-width: 320px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
