@import "../../variables";

.mainNav__items {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 15px;

  .respondTo(tablet, {
    display: flex;
    justify-content: space-around;
    font-size: 18px;
  });
}

.mainNav_closed .mainNav__items {
  .respondTo (onlymobile, {
    display: none;
  });
}

.mainNav_nojs .mainNav__items {
  .respondTo(onlymobile, {
    display: block;
  })
}
