@import "../../variables";

.dataTable {
  width: 100%;
  border-collapse: collapse;
}

.dataTable th, td, tr {
  border: solid @borderColorGrey 1px;
}

/*
.dataTable th, td {
  border-bottom: solid @borderColorGrey 1px;
}
*/