@import "../../variables";

.contacts {
  border-top: solid @borderColorGrey 1px;

  .respondTo(tablet, {
    width: 310px;
    order: 2;
    padding-right: 20px;
    box-sizing: border-box;
  });

  .respondTo(desktop, {
    width: 500px;
  });
}